.Img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.products{
    height: 50px;
    overflow: hidden;
    padding-bottom: 50;
}

.products-wrapper{
    padding-bottom: 70px;
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.product-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.product-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.cardImg{
    margin-top: 20px;
    /* padding-right: 0; */
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.workContainer{
    padding-bottom: 50px;
}

.pricesContainer{
    padding-bottom: 50px;
}

.shippingContainer{
    padding-bottom: 80px;
}

.social{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}