.post{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
    direction: rtl;
    background-color: white; 
}

.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLeftWrapper{
    align-items: flex-start;
}
.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.postUserName{
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    color: black;
    text-decoration: underline;
}
.postDate{
    font-size: 15px;
}

.postCenter{
    margin: 20px 0;
    direction: rtl;
    align-items: right;
}

/* .imgWrapper{
    display: flex;
    object-fit: cover;
} */

.postText{
    align-content: right;
    text-align: right;
    direction: rtl;
}
.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    max-width: 800px;
    object-fit: contain;
    flex: 5;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.score{
    align-content:space-around;
    align-items: center;
    right: 100px;
}

.details{
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    direction: rtl;
}

.location{
    flex: 4;
    background: #f2fa07;
    margin-right: 15px;
}

.date{
    flex: 4;
    background: #f2fa07;
    margin-right: 15px;
}

.time{
    flex: 4;
    background: #f2fa07;
    margin-right: 15px;
}

.price{
    flex: 4;
    background: #f2fa07;
    margin-right: 15px;
}

.RatingWrapper{
    display: flex;
    direction: ltr;
    align-items: right;
    align-content: flex-end;
    position: inherit;
}