.label{
    margin-bottom: 0.8rem;
    font-weight: 600;
    direction: rtl;
    padding-top: 10%;
    font-size: 400;
    
}

.input-group {
    margin-right: 12%;
    margin-bottom: 0.1rem
}

.label-range{
    margin-bottom: 2.5rem;
}



